src/flows/SetupLNEnrollmentFromPTProgram.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>IsLNP_Null</name>
        <label>IsLNP Null</label>
        <locationX>253</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>FindLNProgram</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsGood</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLNProgramID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>IsNull</label>
        </rules>
    </decisions>
    <interviewLabel>SetupLNEnrollmentFromPTProgram {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetupLNEnrollmentFromPTProgram</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NewLNEnrollment</name>
        <label>NewLNEnrollment</label>
        <locationX>83</locationX>
        <locationY>480</locationY>
        <assignRecordIdToReference>varNewEnrollmentId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateParticipant_Intern_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varLNEnrollmentRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lit__Enrollee__c</field>
            <value>
                <elementReference>varEnrollee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lit__EnrollmentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lit__Program__c</field>
            <value>
                <elementReference>varLNProgramID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lit__Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lit__Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>lit__Enrollment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_PI_ID</name>
        <label>Find PI ID</label>
        <locationX>87</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_ProgramID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPI_ID</elementReference>
            </value>
        </filters>
        <object>Participant_Intern_Record__c</object>
        <outputAssignments>
            <assignToReference>varEnrollee</assignToReference>
            <field>Participant_Intern__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProgramID</assignToReference>
            <field>Program__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_ProgramID</name>
        <label>Find ProgramID</label>
        <locationX>85</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsLNP_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProgramID</elementReference>
            </value>
        </filters>
        <object>Program__c</object>
        <outputAssignments>
            <assignToReference>varLNProgramID</assignToReference>
            <field>Literacy_Nimbus_Programs__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindLNProgram</name>
        <label>FindLNProgram</label>
        <locationX>83</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindProgramRT_Student</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLNProgramID</elementReference>
            </value>
        </filters>
        <object>lit__Program__c</object>
        <outputAssignments>
            <assignToReference>varProgramName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>lit__ProgramStartDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindProgramRT_Student</name>
        <label>FindProgramRT_Student</label>
        <locationX>84</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewLNEnrollment</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>lit__Enrollment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varLNEnrollmentRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParticipant_Intern_Record</name>
        <label>UpdateParticipant/Intern Record</label>
        <locationX>237</locationX>
        <locationY>480</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPI_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Literacy_Nimbus_Enrollment_Exist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Participant_Intern_Record__c</object>
    </recordUpdates>
    <startElementReference>Find_PI_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>varEnrollee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLNEnrollmentRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLNProgramID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNewEnrollmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPI_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProgramID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
